<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 padding_reset">
        <div class="card card-plain" style="margin-bottom: 25px;">
          <div class="card-header card-header-warning">
            <!-- <h4 class="card-title">Summary Result</h4> -->
            <h3 class="card-title">Summary Result</h3>
          </div>
        </div>
      </div>

      <!-- alert -->
      <div class="alert alert-info" style="width:100%;margin:0 15px 15px 15px;">
        <div style="display:flex;justify-content:space-between;align-items:center;">
          <span>
            <b> INFO - </b> There are severals ways to achieve FIRE.
          </span>
          <div class="close">
            <i class="material-icons" (click)="showDiv.info=!showDiv.info;showDiv.i_more=!showDiv.i_more;showDiv.i_less=!showDiv.i_less" *ngIf="showDiv.i_more">expand_more</i>
            <i class="material-icons" (click)="showDiv.info=!showDiv.info;showDiv.i_more=!showDiv.i_more;showDiv.i_less=!showDiv.i_less" *ngIf="showDiv.i_less">expand_less</i>
          </div>
        </div>
        <span *ngIf="showDiv.info">
          FIRE is "Financial Independence, Retire Early".
          <br><b>1. </b>4% rule
          <br><b>2. </b>Whole life of total expenditure is equal or small than to current total asset.
          <br><b>3. </b>total passive income is equal to or greater than total expenditure
          <br><b>4. </b>when whole life of total passive income add up with current asset is equal to and greater than total expenditure.
        </span>
      </div>
      <!-- END alert -->


      <!-- Cash card -->
      <div class="col-md-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-money"></i>
            </div>
            <p class="card-category" style="font-size: 1.2rem; text-align: left;">Total Asset</p>
            <h3 class="card-title" style="font-size: 2rem;">{{ total_asset | currency }}</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <table style="font-size: 16px;">
                <thead>
                  <span>
                    <span class="text-success"><i class="fa fa-chevron-right"></i> 55% </span>&nbsp;increase in today sales.
                  </span>
                </thead>
                <tbody>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                </tbody>
              </table>
            </div> -->
          </div>
        </div>
      </div>
      <!-- end of Cash card -->
      <!-- Cash card -->
      <div class="col-md-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-money"></i>
            </div>
            <p class="card-category" style="font-size: 1.2rem; text-align: left;">Total Expenditure (Monthly)</p>
            <h3 class="card-title" style="font-size: 2rem;">{{ total_expenditure | currency }}</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <table style="font-size: 16px;">
                <thead>
                  <span>
                    <span class="text-success"><i class="fa fa-chevron-right"></i> 55% </span>&nbsp;increase in today sales.
                  </span>
                </thead>
                <tbody>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                </tbody>
              </table>
            </div> -->
          </div>
        </div>
      </div>
      <!-- end of Cash card -->
      <!-- Cash card -->
      <div class="col-md-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-money"></i>
            </div>
            <p class="card-category" style="font-size: 1.2rem; text-align: left;">Total Expected Expenditure (Monthly)</p>
            <h3 class="card-title" style="font-size: 2rem;">{{ total_exp_expenditure | currency }}</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
                    <table style="font-size: 16px;">
                      <thead>
                        <span>
                          <span class="text-success"><i class="fa fa-chevron-right"></i> 55% </span>&nbsp;increase in today sales.
                        </span>
                      </thead>
                      <tbody>
                        <tr>
                          <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                        </tr>
                      </tbody>
                    </table>
                  </div> -->
          </div>
        </div>
      </div>
      <!-- end of Cash card -->
      <!-- Cash card -->
      <div class="col-md-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-money"></i>
            </div>
            <p class="card-category" style="font-size: 1.2rem; text-align: left;">Total Passive Income (Monthly)</p>
            <h3 class="card-title" style="font-size: 2rem;">{{ total_passive_income | currency }}</h3>
          </div>
          <div class="card-footer">
            <!-- <div class="stats">
              <table style="font-size: 16px;">
                <thead>
                  <span>
                    <span class="text-success"><i class="fa fa-chevron-right"></i> 55% </span>&nbsp;increase in today sales.
                  </span>
                </thead>
                <tbody>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                </tbody>
              </table>
            </div> -->
          </div>
        </div>
      </div>
      <!-- end of Cash card -->



      <div class="col-md-12 padding_reset">
        <div class="" style="text-align: center;padding-top: unset;">
          <!-- planA -->
          <div class="card card-stats" style="font-size:unset;margin-top:unset;">
            <h3>Plan A ( 4% Rule - Wallet will be expended after 25 Years )</h3>
            <table class="table table-hover" style="margin-bottom:20px">
              <tbody>
                <tr>
                  <td>Theory : </td>
                </tr>
                <tr>
                  <td colspan="4" (click)="planA_thm_click = !planA_thm_click">
                    <div [hidden]="planA_thm_click"><span>Show -THEORY- Graph</span></div>
                    <div class="ct-chart" id="planA_thm" [hidden]="!planA_thm_click"></div>
                  </td>
                </tr>
                <tr class="">
                  <td style="text-align: right;">Total Asset :</td>
                  <td>{{ total_asset | currency }}</td>
                  <td>X 4% =</td>
                  <td>{{ total_asset*0.04 | currency }}</td>
                </tr>

                <!-- EXPECT -->
                <tr class="text-primary">
                  <td style="text-align: right;"><b>EXPECT</b> Total Expenditure in Year :</td>
                  <td>{{ total_exp_expenditure | currency }}</td>
                  <td>X 12 =</td>
                  <td>{{ total_exp_expenditure*12 | currency }}</td>
                </tr>
                <tr class="text-primary">
                  <td colspan="2" style="text-align: right;">Difference :</td>
                  <td>=</td>
                  <td>{{ total_asset*0.04 - total_exp_expenditure*12 | currency }}</td>
                </tr>
                <tr class="text-primary" *ngIf="planA_exp">
                  <td colspan="2" style="text-align: right;">Wallet Life-Long Period :</td>
                  <td colspan="2">
                    {{ total_asset/(total_exp_expenditure*12) | number:'1.0-0' }} years -> {{ year + total_asset/(total_exp_expenditure*12) | number:'1.0-0' }}
                  </td>
                </tr>
                <tr class="text-danger" *ngIf="!planA_exp">
                  <td colspan="2" style="text-align: right;">Wallet Life-Long Period :</td>
                  <td colspan="2">
                    {{ total_asset/(total_exp_expenditure*12) | number:'1.0-0' }} years -> {{ year + total_asset/(total_exp_expenditure*12) | number:'1.0-0' }}
                  </td>
                </tr>
                <tr>
                  <td colspan="4" (click)="planA_exp_click = !planA_exp_click">
                    <div [hidden]="planA_exp_click"><span>Show -EXPECT- Graph</span></div>
                    <div class="ct-chart" id="planA_exp" [hidden]="!planA_exp_click"></div>
                  </td>
                </tr>

                <!-- ACTUAL -->
                <tr class="text-warning">
                  <td style="text-align: right;"><b>ACTUAL</b> Total Expenditure in Year :</td>
                  <td>{{ total_expenditure | currency }}</td>
                  <td>X 12 =</td>
                  <td>{{ total_expenditure*12 | currency }}</td>
                </tr>
                <tr class="text-warning">
                  <td colspan="2" style="text-align: right;">Difference :</td>
                  <td>=</td>
                  <td>{{ total_asset*0.04 - total_expenditure*12 | currency }}</td>
                </tr>
                <tr class="text-warning" *ngIf="planA_act">
                  <td colspan="2" style="text-align: right;">Wallet Life-Long Period :</td>
                  <td colspan="2">
                    {{ total_asset/(total_expenditure*12) | number:'1.0-0' }} years -> {{ year + total_asset/(total_expenditure*12) | number:'1.0-0' }}
                  </td>
                </tr>
                <tr class="text-danger" *ngIf="!planA_act">
                  <td colspan="2" style="text-align: right;">Wallet Life-Long Period :</td>
                  <td colspan="2">
                    {{ total_asset/(total_expenditure*12) | number:'1.0-0' }} years -> {{ year + total_asset/(total_expenditure*12) | number:'1.0-0' }}
                  </td>
                </tr>
                <tr>
                  <td colspan="4" (click)="planA_act_click = !planA_act_click">
                    <div [hidden]="planA_act_click"><span>Show -ACTUAL- Graph</span></div>
                    <div class="ct-chart" id="planA_act" [hidden]="!planA_act_click"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- planB -->
          <hr>
          <div class="card card-stats" style="font-size:unset;margin-top:unset;">
            <h3>Plan B ( Inflation - 3.4% per year on global average )</h3>
            <!-- <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Favorite food</mat-label>
              <input matInput placeholder="Ex. Pizza" value="Sushi">
            </mat-form-field> -->
            <!-- Current year old : <input>
            *default 25year old
            Inflation : <input> -->
            <table class="table table-hover" style="margin-bottom:20px">
              <tbody>
                <tr>
                  <td style="text-align: right;">Total Asset :</td>
                  <td></td>
                  <td>=</td>
                  <td>{{ total_asset | currency }}</td>
                </tr>
                <!-- EXPECT -->
                <tr class="text-primary">
                  <td style="text-align: right;"><b>EXPECT</b> Total Expenditure :</td>
                  <td>{{ total_exp_expenditure | currency }}</td>
                  <td>X 12 X Inflation =</td>
                  <td>{{ total_exp_expenditure | currency }}<sup>1year</sup> - {{ get_year_exp(total_exp_expenditure, 40) | currency }}<sup>40year</sup></td>
                </tr>
                <tr class="text-primary">
                  <td colspan="2" style="text-align: right;">Wallet Life-Long Period :</td>
                  <td colspan="2" *ngIf="!planB_exp_year_count" class="text-danger">
                    <span>Only active with <b>{{ inflation_cal('time','exp',total_exp_expenditure) }} years</b> Remain <b>{{ inflation_cal('remain','exp',total_exp_expenditure) | currency }}</b></span>
                  </td>
                  <td colspan="2" *ngIf="planB_exp_year_count">
                    <span>At least active with <b>{{ inflation_cal('time','exp',total_exp_expenditure) }} years</b> Remain <b>{{ inflation_cal('remain','exp',total_exp_expenditure) | currency }}</b></span>
                  </td>
                </tr>
                <td colspan="4" (click)="planB_exp_click = !planB_exp_click">
                  <div [hidden]="planB_exp_click"><span>Show -EXPECT- Graph</span></div>
                  <div class="ct-chart" id="planB_exp" [hidden]="!planB_exp_click"></div>
                </td>
                <!-- ACTUAL -->
                <tr class="text-warning">
                  <td style="text-align: right;"><b>ACTUAL</b> Total Expenditure :</td>
                  <td>{{ total_expenditure | currency }}</td>
                  <td>X 12 X Inflation =</td>
                  <td>{{ total_expenditure*12 | currency }}<sup>1year</sup> - {{ get_year_exp(total_expenditure,40) | currency }}<sup>40year</sup></td>
                </tr>
                <tr class="text-warning">
                  <td colspan="2" style="text-align: right;">Wallet Life-Long Period :</td>
                  <td colspan="2" *ngIf="!planB_act_year_count" class="text-danger">
                    <span>Only active with <b>{{ inflation_cal('time','act',total_expenditure) }} years</b> Remain <b>{{ inflation_cal('remain','act',total_expenditure) | currency }}</b></span>
                  </td>
                  <td colspan="2" *ngIf="planB_act_year_count">
                    <span>Only active with <b>{{ inflation_cal('time','act',total_expenditure) }} years</b> Remain <b>{{ inflation_cal('remain','act',total_expenditure) | currency }}</b></span>
                  </td>
                </tr>
                <tr>
                  <td colspan="4" (click)="planB_act_click = !planB_act_click">
                    <div [hidden]="planB_act_click"><span>Show -ACTUAL- Graph</span></div>
                    <div class="ct-chart" id="planB_act" [hidden]="!planB_act_click"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- planC -->
          <hr>
          <div class="card card-stats" style="font-size:unset;margin-top:unset;">
            <h3>Plan C ( Passive Income to Maintain Life Expended )</h3>
            <table class="table table-hover" style="margin-bottom:20px">
              <tbody>
                <tr>
                  <td style="text-align: right;">Passive Income :</td>
                  <td>{{ total_passive_income | currency }}</td>
                </tr>
                <!-- EXPECT -->
                <tr class="text-primary">
                  <td style="text-align: right;"><b>EXPECT</b> Total Expenditure :</td>
                  <td>{{ total_exp_expenditure | currency }}</td>
                </tr>
                <tr class="text-danger" *ngIf="!(total_passive_income-total_exp_expenditure > 0)">
                  <td style="text-align: right;">Difference :</td>
                  <td>{{ total_passive_income-total_exp_expenditure | currency }} <b>(NOT ENOUGH)</b></td>
                </tr>
                <tr class="text-primary" *ngIf="(total_passive_income-total_exp_expenditure > 0)">
                  <td style="text-align: right;">Difference :</td>
                  <td>{{ total_passive_income-total_exp_expenditure | currency }} <b>(ENOUGH)</b></td>
                </tr>
                <!-- ACTUAL -->
                <tr class="text-warning">
                  <td style="text-align: right;"><b>ACTUAL</b> Total Expenditure :</td>
                  <td>{{ total_expenditure | currency }}</td>
                </tr>
                <tr class="text-danger" *ngIf="!(total_passive_income-total_expenditure > 0)">
                  <td style="text-align: right;">Difference :</td>
                  <td>{{ total_passive_income-total_expenditure | currency }} <b>(NOT ENOUGH)</b></td>
                </tr>
                <tr class="text-warning" *ngIf="(total_passive_income-total_expenditure > 0)">
                  <td style="text-align: right;">Difference :</td>
                  <td>{{ total_passive_income-total_expenditure | currency }} <b>(ENOUGH)</b></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- planD -->
          <hr>
          <div class="card card-stats" style="font-size:unset;margin-top:unset;">
            <h3>Plan D (Full Plan)</h3>
            <table class="table table-hover" style="margin-bottom:20px">
              <tbody>
                <tr>
                  <td style="text-align: right;">Asset :</td>
                  <td></td>
                  <td>=</td>
                  <td>{{ total_asset | currency }}</td>
                </tr>
                <tr>
                  <td style="text-align: right;">Passive Income :</td>
                  <td>{{ total_passive_income | currency }}</td>
                  <td>X 12 =</td>
                  <td>{{ total_passive_income*12 | currency }}</td>
                </tr>
                <!-- EXPECT -->
                <tr class="text-primary">
                  <td style="text-align: right;"><b>EXPECT</b> Total Expenditure :</td>
                  <td>{{ total_exp_expenditure | currency }}</td>
                  <td>X 12 X Inflation =</td>
                  <td>{{ total_exp_expenditure | currency }}<sup>1year</sup> - {{ get_year_exp(total_exp_expenditure, 40) | currency }}<sup>40year</sup></td>
                </tr>
                <tr class="text-primary">
                  <td colspan="2" style="text-align: right;">Wallet Life-Long Period :</td>
                  <td colspan="2" *ngIf="!planD_exp_year_count" class="text-danger">
                    <span>Only active with <b>{{ inflation_planD_cal('time','exp',total_exp_expenditure) }} years</b> Remain <b>{{ inflation_planD_cal('remain','exp',total_exp_expenditure) | currency }}</b></span>
                  </td>
                  <td colspan="2" *ngIf="planB_exp_year_count">
                    <span>At least active with <b>{{ inflation_planD_cal('time','exp',total_exp_expenditure) }} years</b> Remain <b>{{ inflation_planD_cal('remain','exp',total_exp_expenditure) | currency }}</b></span>
                  </td>
                </tr>

                <td colspan="4" (click)="planD_exp_click = !planD_exp_click">
                  <div [hidden]="planD_exp_click"><span>Show -EXPECT- Graph</span></div>
                  <div class="ct-chart" id="planD_exp" [hidden]="!planD_exp_click"></div>
                </td>

                <!-- ACTUAL -->
                <tr class="text-warning">
                  <td style="text-align: right;"><b>ACTUAL</b> Total Expenditure :</td>
                  <td>{{ total_expenditure | currency }}</td>
                  <td>X 12 X Inflation =</td>
                  <td>{{ total_expenditure*12 | currency }}<sup>1year</sup> - {{ get_year_exp(total_expenditure,40) | currency }}<sup>40year</sup></td>
                </tr>
                <tr class="text-warning">
                  <td colspan="2" style="text-align: right;">Wallet Life-Long Period :</td>
                  <td colspan="2" *ngIf="!planD_act_year_count" class="text-danger">
                    <span>Only active with <b>{{ inflation_planD_cal('time','act',total_expenditure) }} years</b> Remain <b>{{ inflation_planD_cal('remain','act',total_expenditure) | currency }}</b></span>
                  </td>
                  <td colspan="2" *ngIf="planD_act_year_count">
                    <span>Only active with <b>{{ inflation_planD_cal('time','act',total_expenditure) }} years</b> Remain <b>{{ inflation_planD_cal('remain','act',total_expenditure) | currency }}</b></span>
                  </td>
                </tr>
                <td colspan="4" (click)="planD_act_click = !planD_act_click">
                  <div [hidden]="planD_act_click"><span>Show -ACTUAL- Graph</span></div>
                  <div class="ct-chart" id="planD_act" [hidden]="!planD_act_click"></div>
                </td>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <hr>



    </div>
  </div>
</div>