<h1 mat-dialog-title>Add Income Record Form</h1>
<div mat-dialog-content>
  <form [formGroup]="recordForm">

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput type="" [matDatepicker]="picker" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style="display:none !important">
      <input formControlName="year" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" style="display:none !important">
      <input formControlName="month" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" style="display:none !important">
      <input formControlName="day" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category_id" placeholder="option" required>
        <mat-option *ngFor="let category of categorys;" value="{{ category.id }}">{{ category.category }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>payment Type</mat-label>
      <mat-select formControlName="type" placeholder="option" required>
        <mat-option value="cash">Cash</mat-option>
        <mat-option value="bank">Bank</mat-option>
        <mat-option value="card">Credit Card</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input formControlName="amount" matInput placeholder="Placeholder" required>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  <button style="margin-left:8px;" mat-raised-button color="primary" (click)="addRecord()">{{ actionBtn }}</button>
</div>