<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <!-- History Table -->
      <div class="col-md-8" style="padding:unset">
        <div class="card card-plain">
          <div class="card-header card-header-danger header-title-center-space-between">
            <h4 class="card-title" style="margin-bottom: unset;">Expenditure History</h4>
            <button mat-raised-button (click)="addRecord()">
            <!-- <button mat-raised-button> -->
              <span class="btn-inline">
                <i class="material-icons header-title-icon">add</i>
                <span class="card-title header-title-text">Record</span>
              </span>
            </button>
          </div>
          <div class="card-body" style="text-align: center;">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-danger">
                  <th>DATE</th>
                  <th>CATEORY</th>
                  <th>AMOUNT</th>
                  <th>ACTION</th>
                </thead>
                <tbody>
                  <tr *ngFor="let exHistory of exHistorys">
                    <td>{{ exHistory.date | date }}</td>
                    <td>{{ exHistory.category }}</td>
                    <td>{{ exHistory.amount | currency }}</td>
                    <td>
                      <button mat-raised-button type="button" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="editRecord(exHistory)">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-success btn-link btn-sm btn-just-icon" (click)="deleteRecord(exHistory.id)">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End History Table -->

      <!-- Category Table -->
      <div class="col-md-4 paddingWindow">
        <div class="card card-plain">
          <div class="card-header card-header-danger header-title-center-space-between">
            <h4 class="card-title" style="margin-bottom: unset;">Category</h4>
            <button mat-raised-button (click)="addCategory()">
              <span class="btn-inline">
                <i class="material-icons header-title-icon">add</i>
                <span class="card-title header-title-text">Category</span>
              </span>
            </button>
          </div>
          <div class="card-body" style="text-align: center;">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-danger">
                  <th>CATEORY</th>
                  <th>AMOUNT</th>
                  <th>ACTION</th>
                </thead>
                <tbody>
                  <tr *ngFor="let exCategory of exCategorys">
                    <td>{{ exCategory.category }}</td>
                    <td>{{ (exCategory.amount ? exCategory.amount : "0") | currency }}</td>
                    <td>
                      <button mat-raised-button type="button" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="editCategory(exCategory)">
                        <i class="material-icons">edit</i>
                      </button>
                      <!-- <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                      </button> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End Category Table -->
    </div>
  </div>
</div>