<h1 mat-dialog-title>Add Expenditure Category Form</h1>
<div mat-dialog-content>
  <form [formGroup]="categoryForm">

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <input formControlName="category" type="text" matInput placeholder="Category" required>
    </mat-form-field>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Expected Expenditure Amount</mat-label>
        <input formControlName="expected_amount" matInput placeholder="Expected Expenditure">
        <mat-hint>Please count in monthly.</mat-hint>
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Is it FIX Expenditure?</mat-label>
        <mat-select formControlName="fe" placeholder="option">
          <mat-option value="T">True</mat-option>
          <mat-option value="F">False</mat-option>
        </mat-select>
        <mat-hint>Fix expenditure is regular payment.<br>Please count in monthly.</mat-hint>
      </mat-form-field>
    </p>
  
  </form>
</div>

<div mat-dialog-action [align]="'end'" style="margin-top: 20px;">
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  <button style="margin-left:8px;" mat-raised-button color="primary" (click)="addCategory()">{{ actionBtn }}</button>
</div>