<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <!-- alert -->
      <div class="alert alert-warning" style="width:100%;margin:0 15px 15px 15px;font-size:20px;" (click)="showDiv.alert=!showDiv.alert;showDiv.a_more=!showDiv.a_more;showDiv.a_less=!showDiv.a_less">
        <div style="display:flex;justify-content:space-between;align-items:center;">
          <span>
            <b> INFO - </b> Income / Expenditure Status is an overview of different comparing state's current financial statements.
          </span>
          <div class="close">
            <i class="material-icons" (click)="showDiv.alert=!showDiv.alert;showDiv.a_more=!showDiv.a_more;showDiv.a_less=!showDiv.a_less" *ngIf="showDiv.a_more">expand_more</i>
            <i class="material-icons" (click)="showDiv.alert=!showDiv.alert;showDiv.a_more=!showDiv.a_more;showDiv.a_less=!showDiv.a_less" *ngIf="showDiv.a_less">expand_less</i>
          </div>
        </div>
        <span *ngIf="showDiv.alert;" style="font-size:18px;">
          <br>Income / Expenditure Status is a kind of budget plan. It focus on result.
          <br>Income / Expenditure Status is main focus on expected plan result and actual result.
          <br>In the graph, the trend would be found, there is hints of how to improve the plan in personal finance.
        </span>
      </div>
      <!-- END alert -->

      <!-- status card -->
      <div class="col-md-12" style="padding:unset">
        <div class="card card-plain">
          <div class="card-header card-header-warning header-title-center-space-between">
            <h4 class="card-title" style="margin-bottom: unset">Income / Expenditure Status</h4>
            <div class="header-title-center-space-between">
              <h5 class="card-title" style="margin-bottom: unset;font-weight: 500;">CHECK ANALYSIS RESULT :&nbsp;</h5>
              <button mat-raised-button style="padding-left:10px" (click)="openAnalyseReport()">
                <span class="btn-inline">
                  <i class="material-icons material-symbols-outlined header-title-icon">analytics</i>
                  <span class="card-title header-title-text">&nbsp;I/E Plan Result</span>
                </span>
              </button>
            </div>
          </div>

          <div style="padding-top:15px;margin-bottom: 30px;">
            <div class="ct-chart" id="lineChartIncome" width="100%"></div>
            <table style="display: flex;justify-content:flex-start">
              <tr style="display:contents;font-size:18px;">
                <td style="padding-left: 5px;">
                  <div style="display: flex;color:#59922b;font-weight:900;">
                    <i class="material-symbols-outlined">fiber_manual_record</i> Income
                  </div>
                </td>
                <td style="padding-left: 5px;">
                  <div style="display: flex;color:#d70206;font-weight:900;">
                    <i class="material-symbols-outlined">fiber_manual_record</i> Expenditure
                  </div>
                </td>
                <td style="padding-left: 5px;">
                  <div style="display: flex;color:#0544d3;font-weight:900;">
                    <i class="material-symbols-outlined">fiber_manual_record</i> Expected Income
                  </div>
                </td>
                <td style="padding-left: 5px;">
                  <div style="display: flex;color:#6b0392;font-weight:900;">
                    <i class="material-symbols-outlined">fiber_manual_record</i> Expected Expenditure
                  </div>
                </td>
              </tr>
            </table>
            <table style="display: flex;justify-content:flex-end">
              <colgroup>
                <col width="33%">
                <col width="33%">
                <col width="33%">
              </colgroup>
              <tr>
                <td style="padding-left: 5px;">
                  <button mat-raised-button (click)="changeGraph('', year.value, month.value)">Port Income and Expenditure</button>
                </td>
                <td style="padding-left: 5px;">
                  <button mat-raised-button (click)="changeGraph('i', year.value, month.value)">Port Income</button>
                </td>
                <td style="padding-left: 5px;">
                  <button mat-raised-button (click)="changeGraph('e', year.value, month.value)">Port Expenditure</button>
                </td>
              </tr>
            </table>
          </div>

          <div>
            <table width="100%">
              <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
              </colgroup>
              <tr>
                <td></td>
                <td>
                  <span style="display: flex;justify-content: center;">
                    <h6>Select Time Slot :&nbsp;</h6>
                  </span>
                </td>
                <td>
                  <mat-form-field appearance="fill" style="margin-bottom: -1.25em">
                    <mat-label>Year :</mat-label>
                    <mat-select name="year" #year (selectionChange)="onChangeSelet('year', $event.value)">
                      <mat-option>Select Year option</mat-option>
                      <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="fill" style="margin-bottom: -1.25em">
                    <mat-label>Month :</mat-label>
                    <mat-select name="month" #month (selectionChange)="onChangeSelet('month', $event.value)">
                      <mat-option>Select Month option</mat-option>
                      <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>

          <div class="card-body" style="text-align: center; padding-top: unset;">
            <table class="table table-hover" style="margin-bottom: unset">
              <colgroup>
                <col width="30%">
                <col width="30%">
                <col width="30%">
              </colgroup>
              <thead class="text-warning">
                <th class="text-warning border_unset">Category</th>
                <th class="text-warning border_unset">Expected Amount</th>
                <th class="text-warning border_unset">Actual Amount (Remain)</th>
              </thead>
              <tr colspan="3" class="text-danger table_title" style="text-align:left">&nbsp;*&nbsp;Expenditure</tr>
              <tr *ngFor="let category_Expenditure of eCategorys">
                <td class="text-danger">{{ category_Expenditure.category }}</td>
                <td>
                  <table class="text-danger" style="width: 100%">
                    <tr style="display: flex; align-items: center; justify-content: space-between">
                      <td class="padding_reset">
                        <span>$&nbsp;</span>
                      </td>
                      <td class="padding_reset">
                        <span>{{ (category_Expenditure.expected_amount ? category_Expenditure.expected_amount : 0) | number: "0.2" }}</span>
                      </td>
                      <td class="padding_reset">
                        <button mat-raised-button type="button" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="editCategory(category_Expenditure)">
                          <i class="material-icons">edit</i>
                        </button>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="text-warning">
                  <div style="width: 100%; display: flex">
                    <div style="width: 10%">
                      <span>$&nbsp;</span>
                    </div>
                    <div style="width: 90%">
                      <span>{{ (category_Expenditure.amount ? category_Expenditure.amount : 0) | number: "0.2" }}&nbsp;</span>
                      <span style="white-space: nowrap">
                        (&nbsp;{{ (category_Expenditure.expected_amount - category_Expenditure.amount ? category_Expenditure.expected_amount - category_Expenditure.amount : 0) | currency }}&nbsp;)
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <!-- -------------------------------------------------------------------------- -->
              <tr colspan="3" class="text-success table_title" style="text-align: left">
                &nbsp;*&nbsp;Income
              </tr>
              <tr *ngFor="let category_Income of iCategorys">
                <td class="text-success">{{ category_Income.category }}</td>
                <td>
                  <table class="text-success" style="width: 100%">
                    <tr style="display: flex; align-items: center; justify-content: space-between">
                      <td class="padding_reset">
                        <span>$&nbsp;</span>
                      </td>
                      <td class="padding_reset">
                        <span>{{ (category_Income.expected_amount ? category_Income.expected_amount : 0) | number: "0.2" }}</span>
                      </td>
                      <td class="padding_reset">
                        <button mat-raised-button type="button" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="editCategory(category_Income)">
                          <i class="material-icons">edit</i>
                        </button>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="text-warning">
                  <div style="width: 100%; display: flex">
                    <div style="width: 10%">
                      <span>$&nbsp;</span>
                    </div>
                    <div style="width: 90%">
                      <span>{{ (category_Income.amount ? category_Income.amount : 0) | number: "0.2" }}&nbsp;</span>
                      <span style="white-space: nowrap">
                        (&nbsp;{{ (category_Income.expected_amount - category_Income.amount ? - category_Income.expected_amount + category_Income.amount : 0) | currency }}&nbsp;)
                      </span>
                    </div>
                  </div>
                </td>
              </tr>

              <!-- -------------------------------------------------------------------------- -->
              <tr colspan="3" style="margin: unset; border-top: 4px solid rgba(0, 0, 0, 0.06)"></tr>
              <tr>
                <td class="summary text-warning">Summary</td>
                <td>
                  <table class="text-success" style="width: 100%">
                    <tr style="display: flex; align-items: center; justify-content: space-between">
                      <td class="padding_reset">
                        <span>$&nbsp;</span>
                      </td>
                      <td class="padding_reset">
                        <span>{{ inc_t_expected - exp_t_expected | number: "0.2" }}</span>
                      </td>
                      <td></td>
                  </table>
                </td>
                <td class="text-warning">
                  <div style="width: 100%; display: flex">
                    <div style="width: 10%">
                      <span>$&nbsp;</span>
                    </div>
                    <div style="width: 90%">
                      <span>{{ inc_t_amount - exp_t_amount | number: "0.2" }}&nbsp;</span>
                      <span style="white-space: nowrap">
                        (&nbsp;{{ inc_t_expected - exp_t_expected - (inc_t_amount - exp_t_amount) | currency }}&nbsp;)
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- end of status card -->
      </div>
    </div>
  </div>
</div>