<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <!-- pie card -->
      <div class="col-md-12">
        <div class="card card-chart">
          <div class="card-body">
            <h4 class="card-title" style="font-size: 1.2rem; margin-bottom: 0px;">Wallet Component</h4>
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> Last Update at 00/00 ago
            </div>
          </div>
        </div>
      </div>
      <!-- end of pie card -->

      <!-- Cash card -->
      <div class="col-md-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon" (click)="onexpand('123')">
              <i class="fa fa-money"></i>
            </div>
            <p class="card-category" style="font-size: 1.2rem; text-align: left;">Cash</p>
            <h3 class="card-title" style="font-size: 2rem;">HKD$ 8,800</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <table style="font-size: 16px;">
                <thead>
                  <span>
                    <span class="text-success"><i class="fa fa-chevron-right"></i> 55% </span>&nbsp;increase in today sales.
                  </span>
                  <span>
                    <span class="text-success"><i class="fa fa-chevron-down"></i> 55% </span>&nbsp;increase in today sales.
                  </span>
                </thead>
                <tbody>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- end of Cash card -->


      <!-- reply case -->
      <!-- Bank card -->
      <div class="col-md-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon" (click)="onexpand('123')">
              <i class="fa fa-university"></i>
            </div>
            <p class="card-category">Bank</p>
            <h3 class="card-title">HKD$</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <table>
                <thead>
                  <span>
                    <span class="text-success"><i class="fa fa-chevron-right"></i> 55% </span>&nbsp;increase in today sales.
                  </span>
                  <span hidden>
                    <span class="text-success"><i class="fa fa-chevron-down"></i> 55% </span>&nbsp;increase in today sales.
                  </span>
                </thead>
                <tbody>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- end of Bank card -->

      <!-- Investment card -->
      <div class="col-md-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon" (click)="onexpand('123')">
              <i class="fa fa-area-chart"></i>
            </div>
            <p class="card-category">Investment</p>
            <h3 class="card-title">HKD$</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <table>
                <thead>
                  <span>
                    <span class="text-success"><i class="fa fa-chevron-right"></i> 55% </span>&nbsp;increase in today sales.
                  </span>
                  <span hidden>
                    <span class="text-success"><i class="fa fa-chevron-down"></i> 55% </span>&nbsp;increase in today sales.
                  </span>
                </thead>
                <tbody>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- end of Investment card -->

      <!-- Credit Card card -->
      <div class="col-md-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon" (click)="onexpand('123')">
              <i class="fa fa-credit-card"></i>
            </div>
            <p class="card-category">Credit Card</p>
            <h3 class="card-title">HKD$</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <table>
                <thead>
                  <span>
                    <span class="text-success"><i class="fa fa-chevron-right"></i> 55% </span>&nbsp;increase in today sales.
                  </span>
                  <span hidden>
                    <span class="text-success"><i class="fa fa-chevron-down"></i> 55% </span>&nbsp;increase in today sales.
                  </span>
                </thead>
                <tbody>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                  <tr>
                    <span class="text-success"><i class="fa fa-arrows-alt"></i> 55% </span>&nbsp;increase in today sales.
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- end of Credit Card card -->

    </div>

  </div>
</div>