<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <!-- History Table -->
      <div class="col-md-8" style="padding:unset">
        <div class="card card-plain">
          <div class="card-header card-header-success header-title-center-space-between">
            <h4 class="card-title" style="margin-bottom: unset;">Income History</h4>
            <button mat-raised-button (click)="addRecord()">
              <span class="btn-inline">
                <i class="material-icons header-title-icon">add</i>
                <span class="card-title header-title-text">Record</span>
              </span>
            </button>
          </div>
          <!-- filter -->
          <div style="display:flex;text-align:center;padding-top:10px;">
            <table style="width:50%">
              <tr>
                <td colspan="2">
                  <mat-form-field appearance="fill">
                    <mat-label>Year :</mat-label>
                    <mat-select name="year" (selectionChange)="onChangeSelet('year', $event.value)">
                      <mat-option value="showAll">- Show All -</mat-option>
                      <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <mat-form-field appearance="fill">
                    <mat-label>Month :</mat-label>
                    <mat-select name="month" (selectionChange)="onChangeSelet('month', $event.value)">
                      <mat-option value="showAll">- Show All -</mat-option>
                      <mat-option *ngFor="let month of months" [value]="month.value">{{ month.show }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <mat-form-field appearance="fill">
                    <mat-label>Category :</mat-label>
                    <mat-select name="category" (selectionChange)="onChangeSelet('category_id', $event.value)">
                      <mat-option value="showAll">- Show All -</mat-option>
                      <mat-option *ngFor="let category of icCategorys" [value]="category.id">{{ category.category }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <table style="width:50%">
              <tr>
                <td>Sum of selected</td>
                <td>{{ (selectedAmount == 0)? 'N/A' : selectedAmount | currency }}</td>
              </tr>
              <tr>
                <td>Yield in month (%)</td>
                <td>{{ (selectedMonth == 0)? 'N/A' : (selectedAmount/selectedMonth) | percent }}</td>
              </tr>
              <tr>
                <td>Yield in year (%)</td>
                <td>{{ (selectedYear == 0)? 'N/A' : (selectedAmount/selectedYear) | percent }}</td>
              </tr>
              <tr>
                <td>
                  <button mat-raised-button (click)="refresh()">Reset</button>
                </td>
                <td>
                  <button mat-raised-button (click)="search()">Search & Calculate</button>
                </td>
              </tr>
            </table>
          </div>

          <!-- graph -->
          <div style="padding-top:10px;">
            <table style="width:100%">
              <tr>
                <div>
                  <div class="ct-chart" id="lineChartIncome"></div>
                </div>
              </tr>
            </table>
          </div>
          <!-- end of graph -->

          <div class="card-body" style="text-align: center;">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-success">
                  <th>
                    <button mat-stroked-button class="btn_table" matTooltip="Sort by Date" [matTooltipPosition]="'above'" (click)="sort('date', 'record')">DATE</button>
                  </th>
                  <th>
                    <button mat-stroked-button class="btn_table" matTooltip="Sort by Category" [matTooltipPosition]="'above'" (click)="sort('category', 'record')">CATEORY</button>
                  </th>
                  <th>
                    <button mat-stroked-button class="btn_table" matTooltip="Sort by Amount" [matTooltipPosition]="'above'" (click)="sort('amount', 'record')">AMOUNT</button>
                  </th>
                  <th>
                    <button mat-button disabled class="btn_table">ACTION</button>
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let icHistory of view_icHistorys">
                    <td>{{ icHistory.date | date }}</td>
                    <td>{{ icHistory.category }}</td>
                    <td>{{ icHistory.amount | currency }}</td>
                    <td>
                      <button mat-raised-button type="button" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="editRecord(icHistory)">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-success btn-link btn-sm btn-just-icon" (click)="deleteRecord(icHistory.id)">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
      <!-- End History Table -->

      <!-- Category Table -->
      <div class="col-md-4 paddingWindow">
        <div class="card card-plain">
          <div class="card-header card-header-success header-title-center-space-between">
            <h4 class="card-title" style="margin-bottom: unset;">Category</h4>
            <button mat-raised-button (click)="addCategory()">
              <span class="btn-inline">
                <i class="material-icons header-title-icon">add</i>
                <span class="card-title header-title-text">Category</span>
              </span>
            </button>
          </div>
          <!-- graph -->
          <div style="padding:10px; ">
            <table style="width:100%">
              <tr>
                <div>
                  <div class="ct-chart" id="categoryChart"></div>
                </div>
              </tr>
            </table>
          </div>
          <!-- end of graph -->
          <div class="card-body" style="text-align: center;">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-success">
                  <th>
                    <button mat-stroked-button class="btn_table" matTooltip="Sort by Category" [matTooltipPosition]="'above'" (click)="sort('category', 'category')">CATEORY</button>
                  </th>
                  <th>
                    <button mat-stroked-button class="btn_table" matTooltip="Sort by Amount" [matTooltipPosition]="'above'" (click)="sort('amount', 'category')">AMOUNT</button>
                  </th>
                  <th>
                    <button mat-button disabled class="btn_table">ACTION</button>
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let icCategory of view_icCategorys">
                    <td>
                      <div class="flex_center">
                        {{ icCategory.category }}&nbsp;
                        <i class="material-icons" matTooltip="Passive Income" [matTooltipPosition]="'above'" style="color:#4caf50 !important">{{ (icCategory.pi == 'T')? 'local_atm' : ''}}</i>
                      </div>
                    </td>
                    <td>{{ (icCategory.amount ? icCategory.amount : "0") | currency }}</td>
                    <td>
                      <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="editCategory(icCategory)">
                        <i class="material-icons">edit</i>
                      </button>
                      <!-- <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                      </button> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End Category Table -->
    </div>
  </div>
</div>