.paddingWindow {
  padding: 0px 0px 0px 5px;
}

@media only screen and (max-width: 760px) {
  .paddingWindow {
    padding: unset;
  }
}

.header-title-icon {
  font-size: 18px !important;
  color: green !important;
}

.header-title-text {
  margin-bottom: unset !important;
  color: green !important;
}

.btn-inline {
  display: flex !important;
  align-items: center !important;
}

.header-title-center-space-between {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
