<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="padding:unset">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">More Information</h4>
          </div>
          <div class="card-body">
            <div id="typography">
              <div class="card-title">
                <h2>Personal Finance</h2>
              </div>
              <table>
                <tr alt="#1 Income">
                  <td>
                    <h3>#1 Income</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      Income refers to a source of cash inflow that an individual receives and then uses to support themselves and their family. It is the starting point for our financial planning process.<br>
                      Common sources of income are:<br>
                      <ul>
                        <li>Salaries</li>
                        <li>Bonuses</li>
                        <li>Hourly wages</li>
                        <li>Pensions</li>
                        <li>Dividends</li>
                      </ul>
                      These sources of income all generate cash that an individual can use to either spend, save, or invest. In this sense, income can be thought of as the first step in our personal finance roadmap.<br><br>
                      <b>Net income</b> is counted as the gross income reduced by needed total costs during making income money. If a product makes as fire dollars, and the total cost is at two dollars. When the product is sold, the income is fire dollars, and the net income is three dollars. This transaction statement will also been drop in financial statement for a record when it has happened.
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
                <tr alt="#2 Spending">
                  <td>
                    <h3>#2 Spending</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      Spending includes all types of expenses an individual incurs related to buying goods and services or anything that is consumable (i.e., not an investment). All spending falls into two categories: cash (paid for with cash on hand) and credit (paid for by borrowing money). The majority of most people's income is allocated to spending.<br>
                      Common sources of spending are:<br>
                      <ul>
                        <li>Rent</li>
                        <li>Mortgage payments</li>
                        <li>Taxes</li>
                        <li>Food</li>
                        <li>Entertainment</li>
                        <li>Travel</li>
                        <li>Credit card payments</li>
                      </ul>
                      The expenses listed above all reduce the amount of cash an individual has available for saving and investing. If expenses are greater than income, the individual has a deficit. Managing expenses is just as important as generating income, and typically people have more control over their discretionary expenses than their income. Good spending habits are critical for good personal finance management.<br><br>

                      Economists accepted Say's Law of markets, and they believed that <span class="text-danger"><b>aggressive consumption</b> too much is not health behavior</span>, personal savings and production should more important which is properly way. If consumer spend too much of their income now or overdraft future income, future would be compromised because of insufficient money support. And the Economists is not recommended like this.
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
                <tr alt="#3 Saving">
                  <td>
                    <h3>#3 Saving</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      Saving refers to excess cash that is retained for future investing or spending. If there is a surplus between what a person earns as income and what they spend, the difference can be directed towards savings or investments. Managing savings is a critical area of personal finance.<br>
                      Common forms of savings include:<br>
                      <ul>
                        <li>Physical cash</li>
                        <li>Savings bank account</li>
                        <li>Checking bank account</li>
                        <li>Money market securities</li>
                      </ul>
                      Most people keep at least some savings to manage their cash flow and the short-term difference between their income and expenses. Having too much savings, however, can actually be viewed as a bad thing since it earns little to no return compared to investments.<br><br>

                      Most of the savings would be commonly marked as emergencies use to resolving any issue facing. If one who living paycheck to paycheck is unable to maintain savings, the one could not save up his own life when experiencing emergency. The bankruptcy is very closed. Besides, negative savings is indicative of household debt or negative net worth.
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
                <tr alt="#4 Investing">
                  <td>
                    <h3>#4 Investing</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      Investing relates to the purchase of assets that are expected to generate a rate of return, with the hope that over time the individual will receive back more money than they originally invested. Investing carries risk, and not all assets actually end up producing a positive rate of return. This is where we see the relationship between risk and return.<br>
                      Common forms of investing include:<br>
                      <ul>
                        <li>Stocks</li>
                        <li>Bonds</li>
                        <li>Mutual funds</li>
                        <li>Real estate</li>
                        <li>Private companies</li>
                        <li>Commodities</li>
                        <li>Art</li>
                      </ul>
                      Investing is the most complicated area of personal finance and is one of the areas where people get the most professional advice. There are vast differences in risk and reward between different investments, and most people seek help with this area of their financial plan.<br>
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
                <tr alt="#5 Protection">
                  <td>
                    <h3>#5 Protection</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      Personal protection refers to a wide range of products that can be used to guard against an unforeseen and adverse event.<br>
                      Common protection products include:<br>
                      <ul>
                        <li>Life insurance</li>
                        <li>Health insurance</li>
                        <li>Estate planning</li>
                      </ul>
                      This is another area of personal finance where people typically seek professional advice and which can become quite complicated. There is a whole series of analysis that needs to be done to properly assess an individual’s insurance and estate planning needs.
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
              </table>
            </div>
            <!-- ----------------------------------- -->
            <div id="typography">
              <div class="card-title">
                <h2>Personal Financial Planning Process</h2>
              </div>
              <div>
                <span>
                  Good financial management comes down to having a solid plan and sticking to it. All of the above areas of personal finance can be wrapped into a budget or a formal financial plan.
                </span>
              </div>
              <table>
                <tr alt="#Budget Plan">
                  <td>
                    <h3># Budget Plan</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      Budgeting is a process that is working on a plan to spend money or cut expenses. Moreover, the plan is called budget. Creating and using a budget is not just for those who need to closely monitor their cash flows from month to month because “money is tight.” Derek Notman, the Founder and CEO of Intrepid Wealth Partners, claims that the importance of budgeting cannot be underestimated and that everyone should do before getting into financial trouble.<br><br>
                      Actually, using a budget plan is not only for those whose money is tight and need to monitor it day by day, but also for those with large salaries and plenty of money in the bank. The plan is determined to do something before having enough supporting money. Following the budget plan would experience a sense of wallet control that understanding where the money goes.
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
                <tr alt="#Financial Accounting">
                  <td>
                    <h3># Financial Accounting</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      Financial accounting is a behavior that is recording financial activities process in the financial statement. Those behavior involve a process of recording, summarizing, and reporting the difference kind of transactions result. It comes to fill in the field of financial statement before do any business analysis and decision making. According to generally accepted accounting principles (GAAP), there is a series of established accounting principles and a set of financial accounting standards that required to U.S. public companies and businesses to conduct financial account in accordance.
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
              </table>
            </div>
            <!-- ----------------------------------- -->
            <div id="typography">
              <div class="card-title">
                <h2>Financial Statement</h2>
              </div>
              <div>
                <span>
                  Financial statements consist of a set of accounting sheets, including balance sheets, income statements, and cash flow statements. These statements are written records that convey personal financial detail. Personal assets can be separated into two categories, tangible assets and intangible assets. Intangible assets are non-physical assets that cannot be priced in the market, such as copyright or patents. Due to the limitation of counting intangible assets, this part would not be discussed in the project. This section would focus on some significant and fluidity assets, bank statements, credit card statements, investment statements, and cash statements about tangible assets. The outcome presentation would be straightforward. Those data can be used to analyze the status of personal finances and evaluate the financial health and growth potential.
                </span>
              </div>
              <br>
              <table>
                <tr alt="#Balance Sheet">
                  <td>
                    <h3># Balance Sheet / <br>Income Statement</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      An income statement is one of the three important financial statements used for reporting a company's financial performance over a specific accounting period, with the other two key statements being the balance sheet and the statement of cash flows. Also known as the profit and loss statement or the statement of revenue and expense, the income statement primarily focuses on the personal's revenues and expenses during a particular period.
                      <ul>
                        <li>An income statement is one of the three (along with balance sheet and statement of cash flows) major financial statements that reports a financial performance over a specific accounting period.</li>
                        <li>Net Income = (Total Revenue + Gains) - (Total Expenses + Losses)</li>
                        <li>Revenues are not receipts. Revenue is earned and reported on the income statement. Receipts (cash received or paid out) are not.</li>
                        <li>An income statement provides valuable insights into a personal's operations, the efficiency of its management, under-performing parts and its performance relative to life.</li>
                      </ul>
                      The income statement focuses on four key items—revenue, expenses, gains, and losses. It gives an account of how the net revenue realized by getting transformed into net earnings (profit or loss).
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
                <tr alt="#Income Sheet">
                  <td>
                    <h3># Income Sheet</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      The income sheet records the income in at least monthly and compares it with the budgeting plan to prove the income and expenditure status in balance.
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
                <tr alt="#Expenditure Sheet">
                  <td>
                    <h3># Expenditure Sheet</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      The expenditure sheet is one of the application elements that should be daily used. The sheet records the expense daily and compares it with the budgeting plan to prove the income and expenditure status in balance. This tracking on expense process seems to be a preventive health check that is one way of staying financially healthy. During processing, self-confidence would be built generally because of experiencing everything under control and avoiding unexpected financial troublesome and risks. By tracking expenses, financial gaps will be learned to fill, and a reasonable expense habit will be developed. More expenditures are under controlled, the financial freedom would be closer.
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
                <tr alt="#Limitation">
                  <td>
                    <h3># Limitation</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      There is a concern when studying overall personal finance. We would find that the financial statement records the historical income and expenditure results. Those business record does not provide enough predictive value and information for what will happen in the future. Also, the vales of assets and liabilities, such as house property and cars, may be recorded at the old balance sheet price. As a result, the market's value will change over time.<br><br>
                      Nevertheless, the sheet is recorded at their initial cost and do not change, and the market price will not be a concern at all. Thus, the balance sheet is misleading the part of assets value based on the historical costs. Because of this, some decisions may be misjudged.
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
              </table>
            </div>
            <!-- ----------------------------------- -->
            <div id="">
              <div class="card-title">
                <h2>Financial Target</h2>
              </div>
              <br>
              <table style="width:100%">
                <tr alt="#Financial Freedom">
                  <td>
                    <h3># Financial Freedom</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      Financial freedom has become some one's goal and motivate to stick to the budget plan. Financial freedom is a financial status that describes someone with enough money to support any desire. In other words, financial freedom means that our money works for us instead of being workers and working for money. The status of financial freedom is as similar as retirement. Both can be described as enjoying life and living freely. Financial freedom is a goal, is a target, and it is motivate to encourage stick to the budget plan.
                    </span>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
                <tr alt="#4% Rule">
                  <td>
                    <h3># 4% Rule</h3>
                  </td>
                  <td style="padding-left:100px">
                    <span>
                      Four Percent Rule is a strategy. It was created by historical data model. This data model is composed of over 50-year period stock and bond returns data from 1926 to 1976. This strategy claim that it can provide a predictable and stable income during job is missing while withdrawing 4% from the portfolio to cover the total amount of annual expenditure every year.<br><br>

                      Some financial advisors questioned whether this 4% was sufficient and had an exhaustive investigation on it. In the end, it is concluded that the four percent strategy could run for at least 33 years even during severe market downturns period until the retirement portfolio is exhausted.<br><br>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <p>
                      In total {{10000000|currency}} asset and withdraw ({{10000000*0.04|currency}}) 4% for total year's expenditure in every year. <br>
                      Every month would have {{10000000*0.04/12|currency}} for expending.<br>
                      There is predict asset graph.
                    </p>
                    <div class="ct-chart" id="planA_thm"></div>
                  </td>
                </tr>
                <tr alt="hr">
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>