<h1 mat-dialog-title>Add Income Record Form</h1>
<div mat-dialog-content>
  <form [formGroup]="recordForm">

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput type="" [matDatepicker]="picker" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style="display:none !important">
      <input formControlName="year" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" style="display:none !important">
      <input formControlName="month" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" style="display:none !important">
      <input formControlName="day" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category_id" placeholder="option" required>
        <mat-option *ngFor="let category of categorys;" value="{{ category.id }}">{{ category.category }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input formControlName="amount" matInput placeholder="Placeholder" required>
    </mat-form-field>

    <!-- <label for="">
      <h1>Product Freshness</h1>
    </label>
    <mat-radio-group formControlName="amount" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let list of lists" [value]="list">
        {{ list }}
      </mat-radio-button>
    </mat-radio-group> -->

  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  <button style="margin-left:8px;" mat-raised-button color="primary" (click)="addRecord()">{{ actionBtn }}</button>
</div>